.professionnelle
{
  height: 100%;
  width: 50%;
  margin-left: 45px;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.professionnelle h1
{
  color: #23A0DB;
}

/*  Formation */

.professionnelle .Formations .barrep
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.professionnelle .Formations .barrep .barre-formation
{
  display: flex;
  width: 10%;
  height: 100%;
}

.professionnelle .Formations .barrep .barre-formation .barre2
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

.professionnelle .Formations .barrep .barre-formation2
{
  display: flex;
  width: 68%;
  height: 100%;
}

.professionnelle .Formations .barrep .barre-formation2 .barre3
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

/*  Experience professionnelle */

.professionnelle .experiences .barrep
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.professionnelle .experiences .barrep .barre-formation
{
  display: flex;
  width: 10%;
  height: 100%;
}

.professionnelle .experiences .barrep .barre-formation .barre2
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

.professionnelle .experiences .barrep .barre-formation2
{
  display: flex;
  width: 36%;
  height: 100%;
}

.professionnelle .experiences .barrep .barre-formation2 .barre3
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

/*  Compétences */

.professionnelle .competences .barrep
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.professionnelle .competences .barrep .barre-formation
{
  display: flex;
  width: 10%;
  height: 100%;
}

.professionnelle .competences .barrep .barre-formation .barre2
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

.professionnelle .competences .barrep .barre-formation2
{
  display: flex;
  width: 65%;
  height: 100%;
}

.professionnelle .competences .barrep .barre-formation2 .barre3
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

.competences .ranger
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
