*
{
  margin: 0;
  padding: 0;
}

body
{
  height: 2970px;
  width: 2100px;
  display: flex;
  flex-direction: row;
}

.photo img
{
  width: 75%;
  transform: rotate(90deg);
}

.marge
{
  margin-left: 4%;
  margin-bottom: 2%;
}

.li
{
  list-style-type: square;
}

.puce
{
  margin-left: 5%;
}

.information
{
  display: flex;
  /* flex-direction: column;
  justify-content: space-around;
  align-items: center; */
}

.information .information2
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information .information2 p .loc, .information .information2 p .mail
{
  width: 5%;
}

.photo
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* personnelle */

.personnelle
{
  height: 100%;
  width: 50%;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.personnelle .information
{
  height: 10%;
  margin-bottom: 15%;
  margin-top: 10%;
}

h1
{
  color: #23A0DB;
}

.language .titre-language
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
}

.language .barre3
{
  display: flex;
  align-items: center;
  height:15px;
  width:20%;
  background-color: #23A0DB;
}

.language .barre4
{
  display: flex;
  align-items: center;
  height:15px;
  width:32%;
  background-color: #23A0DB;
}

.langue .titre-language
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.langue .barre3
{
  display: flex;
  align-items: center;
  height:15px;
  width:20%;
  background-color: #23A0DB;
}

.langue .barre4
{
  display: flex;
  align-items: center;
  height:15px;
  width:55%;
  background-color: #23A0DB;
}

.centre-interets .titre-language
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.centre-interets .barre3
{
  display: flex;
  align-items: center;
  height:15px;
  width:20%;
  background-color: #23A0DB;
}

.centre-interets .barre4
{
  display: flex;
  align-items: center;
  height:15px;
  width:18%;
  background-color: #23A0DB;
}

/* language html*/

.language .html
{
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-left: 1%;
}

.language .html img
{
  width: 10%;
}

.language .html .barre
{
  width: 100%;
  display: flex;
  align-items: center;
}

.language .html .barre .barre1
{
   height:75px;
   width:90%;
   border: 2px solid black;
   margin-left: 2%;
}

.language .html .barre .barre1 .barre-html
{
   height:75px;
   width:65%;
   background-color: #E34C26;
}

/* language css */

.language .css
{
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-left: 1%;
}

.language .css img
{
  width: 10%;
}

.language .css .barre
{
  width: 100%;
  display: flex;
  align-items: center;
}

.language .css .barre .barre1
{
   height:75px;
   width:90%;
   border: 2px solid black;
   margin-left: 2%;
}

.language .css .barre .barre1 .barre-css
{
   height:75px;
   width:60%;
   background-color: #4169E1;
}

/* language javascript */

.language .javascript
{
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-left: 1%;
}

.language .javascript img
{
  width: 10%;
}

.language .javascript .barre
{
  width: 100%;
  display: flex;
  align-items: center;
}

.language .javascript .barre .barre1
{
   height:75px;
   width:90%;
   border: 2px solid black;
   margin-left: 2%;
}

.language .javascript .barre .barre1 .barre-javascript
{
   height:75px;
   width:50%;
   background-color: #F0DB4F;
}

/* language nodeJS */

.language .nodeJS
{
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-left: 1%;
}

.language .nodeJS img
{
  width: 10%;
}

.language .nodeJS .barre
{
  width: 100%;
  display: flex;
  align-items: center;
}

.language .nodeJS .barre .barre1
{
   height:75px;
   width:90%;
   border: 2px solid black;
   margin-left: 2%;
}

.language .nodeJS .barre .barre1 .barre-nodeJS
{
   height:75px;
   width:40%;
   background-color: #3C873A;
}

/* language angularJS */

.language .angularJS
{
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-left: 1%;
}

.language .angularJS img
{
  width: 10%;
}

.language .angularJS .barre
{
  width: 100%;
  display: flex;
  align-items: center;
}

.language .angularJS .barre .barre1
{
   height:75px;
   width:90%;
   border: 2px solid black;
   margin-left: 2%;
}

.language .angularJS .barre .barre1 .barre-angularJS
{
   height:75px;
   width:25%;
   background-color: #B52E31;
}

/* language meteor */

.language .meteor
{
  display: flex;
  flex-direction: row;
  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: 1%;
}

.language .meteor img
{
  width: 10%;
}

.language .meteor .barre
{
  width: 100%;
  display: flex;
  align-items: center;
}

.language .meteor .barre .barre1
{
   height:75px;
   width:90%;
   border: 2px solid black;
   margin-left: 2%;
}

.language .meteor .barre .barre1 .barre-meteor
{
   height:75px;
   width:50%;
   background-color: #F02E2E;
}

/* language php */

.language .php
{
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
  margin-left: 1%;
}

.language .php img
{
  width: 10%;
}

.language .php .barre
{
  margin: 0px 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.language .php .barre .barre1
{
   height:75px;
   width:95%;
   border: 2px solid black;
}

.language .php .barre .barre-php
{
   height:75px;
   width:30%;
   background-color: #474A8A;
}

.language .langue
{
  margin-bottom: 15%;
}

.professionnelle
{
  height: 100%;
  width: 50%;
  margin-left: 45px;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2
{
  color: #23A0DB;
}

.professionnelle h1
{
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5%;
}

/*  Formation */

.professionnelle .mail
{
  width: 5%;
}

.professionnelle .Formations .barrep
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3%;
}

.professionnelle .Formations .barrep .barre-formation
{
  display: flex;
  width: 10%;
  height: 100%;
}

.professionnelle .Formations .barrep .barre-formation .barre2
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

.professionnelle .Formations .barrep .barre-formation2
{
  display: flex;
  width: 68%;
  height: 100%;
}

.professionnelle .Formations .barrep .barre-formation2 .barre3
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

.Formations .ifocop, .Formations .it, .experiences .cinov, .experiences .interim
{
  margin-bottom: 5%;
}

/*  Experience professionnelle */

.professionnelle .titre p
{
  text-align: center;
}

.professionnelle .experiences .barrep
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3%;
}

.professionnelle .experiences .barrep .barre-formation
{
  display: flex;
  width: 10%;
  height: 100%;
}

.professionnelle .experiences .barrep .barre-formation .barre2
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

.professionnelle .experiences .barrep .barre-formation2
{
  display: flex;
  width: 36%;
  height: 100%;
}

.professionnelle .experiences .barrep .barre-formation2 .barre3
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

/*  Compétences */

.professionnelle .competences .barrep
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.professionnelle .competences .barrep .barre-formation
{
  display: flex;
  width: 10%;
  height: 100%;
}

.professionnelle .competences .barrep .barre-formation .barre2
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

.professionnelle .competences .barrep .barre-formation2
{
  display: flex;
  width: 65%;
  height: 100%;
}

.professionnelle .competences .barrep .barre-formation2 .barre3
{
   display: flex;
   align-items: center;
   height:15px;
   width:100%;
   background-color: #23A0DB;
}

.competences .ranger
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
